body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#btn{
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    font-family: sans-serif;
    border: none;
}
#btn:hover{
    background-color: aqua;
    transition: 1s;
    font-style: italic;
}